main {
  margin: auto;
  border-top: 0.5px solid #241e12;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

#questions {
  border-top: 0.5px solid #241e12;
}

#questionAnswers {
}

#individualAnswer {
  margin: 0.5rem;
}

.btn-primary:active {
  background-color: green !important;
}

#changePageButton {
  display: flex;
  justify-content: space-between;
}

#previousButton {
}

#previous {
}

#nextButton {
}

#pageName {
  text-align: center;
}

#myCanvas {
}

#results-div {
  text-align: center;
}

:root {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

#pageName {
  padding-top: 3rem;
}

.navbar {
  bottom: 0;
  width: 100vw;
  height: 3rem;
  position: fixed;
  background-color: var(--bg-primary);
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.navbar-item {
  width: 100%;
}

.navbar-item:last-child {
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
}

#Green {
  color: #ff7eee;
  filter: grayscale(100%) contrast(200%);
  transition: var(--transition-speed);
}

#Green:hover {
  filter: grayscale(0%);
}

#nav-complete {
  display: none;
}

@media only screen and (min-width: 768px) {
  #nav-complete {
    display: block;
  }
}
